@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300&display=swap");

:root {
	--primary-color: #411811;
	--secondary-color: #e73111;
	--tertiary-color: #fab84c;
	--text-color: #ffffff;
	--background-color: #ffffff;
  }

/* Small Screens (Default) */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-ms-text-size-adjust: 100%;
}

kbd {
	border-radius: 3px;
	padding: 1px 2px 0;
	border: 1px solid black;
}

body {
	background-color: #f1f5f8;
	background: linear-gradient(to right, #d3e5ee, #f1f5f8, #f1f5f8, #f1f5f8, #f1f5f8, #f1f5f8, #d3e5ee);
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #141414;
}

blockquote {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
	padding-left: 1em;
	/* margin-right: 1em;
  padding-right: 1em; */
	border-left: 0.3em solid var(--primary-color);
	/* border-right: 3px solid #ccc; */
	background-color: #f8e6cb;
}

a {
	color: #314a5e;
}

a:hover {
	color: #547ea0;
}

strong {
	font-weight: 450;
}

header {
	background-color: var(--primary-color);
	background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
	color: #e4ebf1;
}

header a {
	color: #ffffff;
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: auto;
}

header h1 {
	margin: 0;
	color: #ffffff;
	padding: 0.5rem 0 0 0;
	font-size: 1.8rem;
}

header nav {
	background-color: var(--secondary-color);
	background: linear-gradient(to top, var(--secondary-color), var(--tertiary-color));
	color: #141414;
}

header nav a {
	color: #314a5e;
}

header nav div div {
	font-weight: bold;
}

footer {
	background: linear-gradient(to left, var(--primary-color), var(--secondary-color));
	color: #e4ebf1;
	font-size: 1.2em;
}

footer a {
	color: #91f093;
}

footer a:hover {
	color: #b6e2b7;
}

footer h2 {
	color: var(--primary-color);
	font-style: italic;
	margin: 1rem 0 0.3rem 0;
}

header div,
nav div,
main,
footer div {
	max-width: 900px;
	margin: 0 2vw 0em 2vw;
}

main {
	margin-bottom: 1em;
	min-height: 66vh;
}

table {
	background: #f1f5f8;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

table td,
table th {
	padding: 0.5em;
	border: 1px dotted;
}

table thead {
	background: var(--primary-color);
	color: #e4ebf1;
}

table thead tr th:empty {
	display: none;
}

table thead th {
	font-weight: normal;
}

table tr:nth-child(even) {
	background: #e4ebf1;
}

table tfoot {
	font-weight: bold;
}

iframe {
	display: block;
	margin: auto;
}

.mermaid {
	max-width: 50em;
}

:not(pre) > code[class*="language-"] {
	padding-top: 0em;
}

/* Medium Screens */

@media only screen and (min-width: 720px) {
	header h1 {
		margin: 0;
		padding: 0.5rem 0 0 0;
		font-size: 2.85rem;
	}
	header div, main {
		margin: auto;
		max-width: min(90%, 680px);
	}
	footer div {
		/* max-width: min(90%, 680px); */
		margin: auto;
		max-width: 90%
	}
}

/* Large Screens */

@media only screen and (min-width: 1280px) {
	header div,
	nav div,
	main,
	footer div {
		margin: auto;
		max-width: min(90%, 1024px);
	}
	main {
		margin-bottom: 1em;
	}
}
