@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300&display=swap');

/* Small Screens (Default) */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
}

kbd {
	border-radius: 3px;
	padding: 1px 2px 0;
	border: 1px solid black;
  }

body {
    background-color: #F1F5F8;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #141414;
}

blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
	padding-left: 1em;
	/* margin-right: 1em;
  padding-right: 1em; */
	border-left: 0.30em solid #411811;
	/* border-right: 3px solid #ccc; */
	background-color: #f8e6cb;
}

a {
    color: #314A5E;
}

a:hover {
    color: #547EA0;
}

strong {
	font-weight: 450;
}

header {
	background-color: #411811;
	color: #E4EBF1;
}

header a {
	color: #ffffff;
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: auto;
}

header h1 {
    margin: 0;
    color: #ffffff;
    padding: .5rem 0 0 0;
    font-size: 1.8rem;
}

header nav {
    background-color: #FAB84C;
	color: #141414;
}

header nav a {
	color: #314A5E;
}

header nav div div {
    font-weight: bold;
}

footer {
    background-color: #411811;
    color: #E4EBF1;
    font-size: 1.2em;
}

footer a {
    color: #7CCB7D;
}

footer a:hover {
    color: #B6E2B7;
}

footer h2 {
    color: #FAB84C;
    font-style: italic;
    margin: 1rem 0 .3rem 0;
}

header div,
nav div,
main,
footer div {
    max-width: 1024px;
    margin: 0 2vw 0em 2vw;
}

main {
    margin-bottom: 1em;
    min-height: 66vh;
}

table {
	background: #F1F5F8;
	border-collapse: collapse;
}

table td, table th {
	padding: 0.5em;
	border: 1px dotted;
}

table thead {
	background: #411811;
	color: #E4EBF1;
}

table thead tr th:empty {
	display: none;
} 

table thead th {
	font-weight: normal;
}

table tr:nth-child(even) {
  background: #E4EBF1;
}

table tfoot {
  font-weight: bold;
}

.mermaid {
	max-width: 50em;
}

:not(pre) > code[class*="language-"] {
	padding-top: 0em;
}

/* Medium Screens */

@media only screen and (min-width: 720px) {
    header h1 {
        margin: 0;
        padding: .5rem 0 0 0;
        font-size: 2.85rem;
    }
}


/* Large Screens */

@media only screen and (min-width: 1280px) {
    header div,
    nav div,
    main,
    footer div {
        max-width: 1024px;
        margin: auto;
    }
    main {
        margin-bottom: 1em;
    }
}